/* nice colors: #d3fcd2, #caf9ff */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Bellefair', serif;
}

body {
    background-color: #aaa;
}

.innerClock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px dashed grey;
    border-radius: 50%; */
    width: 60vh;
    height: 60vh;
}

.outerClock {
    position: relative;
    border: 25px solid black;
    border-radius: 50%;
    width: 80vh;
    height: 80vh;
    margin: 10vh auto 0;
    /* background-color: #d8e7fa; */
    animation: clock-background 300s linear infinite;
}

@keyframes clock-background {
    0% {
        background-color: hsl(240, 10%, 50%);
    }

    2.78% {
        background-color: hsl(240, 45%, 25%);
    }

    8.33% {
        background-color: hsl(240, 45%, 25%);
    }

    11.11% {
        background-color: hsl(240, 10%, 50%);
    }

    16.67% {
        background-color: hsla(180, 10%, 50%, 1);
    }

    19.44% {
        background-color: hsla(180, 45%, 25%, 1);
    }

    25% {
        background-color: hsla(180, 45%, 25%, 1);
    }

    27.77% {
        background-color: hsla(180, 10%, 50%, 1);
    }

    33.33% {
        background-color: hsl(120, 10%, 50%);
    }

    36.11% {
        background-color: hsl(120, 45%, 25%);
    }

    41.66% {
        background-color: hsl(120, 45%, 25%);
    }

    44.44% {
        background-color: hsl(120, 10%, 50%);
    }

    49.99% {
        background-color: hsla(60, 10%, 50%, 1);
    }

    52.77% {
        background-color: hsla(60, 45%, 25%, 1);
    }

    58.33% {
        background-color: hsla(60, 45%, 25%, 1);
    }

    61.11% {
        background-color: hsla(60, 10%, 50%, 1);
    }

    66.66% {
        background-color: hsl(0, 10%, 50%);
    }

    69.44% {
        background-color: hsl(0, 45%, 25%);
    }

    75% {
        background-color: hsl(0, 45%, 25%);
    }

    77.78% {
        background-color: hsl(0, 10%, 50%);
    }

    83.34% {
        background-color: hsla(300, 10%, 50%, 1);
    }

    86.09% {
        background-color: hsla(300, 45%, 25%, 1);
    }

    91.65% {
        background-color: hsla(300, 45%, 25%, 1);
    }

    97.21% {
        background-color: hsla(300, 10%, 50%, 1);
    }

    100% {
        background-color: hsl(240, 10%, 50%);
    }
}

.numbers div {
    position: absolute;
    font-size: 5rem;
    top: 50%;
    left: 50%;
}

.innerClock .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
    z-index: 4;
}

.hands>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%) rotate(0deg);
    transform-origin: 50% 20%;
    box-shadow: 3px 3px 4px black;
    border-radius: 20% 20% 50% 50%;
}

.hands .hours {
    width: 3%;
    height: 45%;
    transform: translate(-50%, -20%) rotate(30deg);
    background-color: #222;
}

.hands .minutes {
    width: 2%;
    height: 70%;
    transform: translate(-50%, -20%) rotate(120deg);
    background-color: #444;
    z-index: 2;
}

.hands .seconds {
    width: 1%;
    height: 60%;
    transform: translate(-50%, -20%) rotate(340deg);
    background-color: #b32;
    z-index: 3;
    transition: transform .05s linear;
}